@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body {
  margin: 0;
  background-color: #152028;

  * {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    color: #D3D3D3;
  }
}

:global {

  h1 {
    margin-top: 20px;
    font-size: 24px;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
  }

  .table-container {
    margin-bottom: 50px;
  }

  .per-player {
    &__selects {
      display: flex;
      margin-bottom: 20px;
    }

    &__select--player {
      margin-right: 20px;
    }
  }

  .all-stats {
    &__select {
      margin-bottom: 30px;
    }
  }

  #__next-prerender-indicator {
    display: none;
  }

  .chart {
    padding: 20px 0;
  }

  .table__header {
    color: #CFD5D5;
    font-weight: 400;
    text-align: center;
  }

  .MuiPaper-root {
    .MuiTabs-indicator {
      background-color: #5D4A90;
    }

    .MuiList-root, .MuiList-padding {
      padding: 0;
    }

    .MuiListItem-button {
      background-color: #152028;
    }

    .MuiListItem-root.Mui-selected, .MuiListItem-root.Mui-selected:hover {
      background-color: rgba(21, 32, 40, .9);
    }

    .PrivateTabIndicator-colorSecondary-4 {
      background-color: #5D4A90;
    }
  }

  .MuiPaper-root.MuiAppBar-colorPrimary {
    background-color: rgba(73, 166, 164, 0.25);
  }

  .MuiPaper-root.MuiPopover-paper {
    background-color: rgba(73, 166, 164, 1);
  }

  .MuiTable-root {

    td {
      border-bottom-color: rgba(211, 211, 211, 0.25);
    }

    th {
      border-bottom-color: #5D4A90;
    }

    .MuiTableHead-root {
      background-color: rgba(73, 166, 164, 0.25);

      .MuiTableCell-root {
        &:first-of-type {
          padding-left: 16px;
        }
      }
    }

    .MuiTableRow-root {
      .MuiTableCell-root {
        &:first-of-type {
          padding-left: 16px;
        }
      }
    }

    .MuiTableBody-root {
      tr {
        &:last-of-type {
          .MuiTableCell-root {
            border-bottom-color: #5D4A90;
          }
        }
      }
    }

    .MuiTableCell-root {
      font-size: 12px;
      padding: 5px 0;
    }

    .MuiTableCell-body,
    .MuiTableCell-head {
      color: #D3D3D3;
    }
  }

  .container {
    .MuiBox-root {
      padding: 0 16px;
    }
  }

  .MuiFormControl-root {
    color: #CFD5D5;

    .MuiFormLabel-root {
      color: #CFD5D5;
    }

    .MuiSelect-root {
      color: #CFD5D5;
    }

    .MuiFormLabel-root.Mui-focused {
      color: #CFD5D5;
    }

    .MuiInput-underline {

      &::before {
        border-bottom-color: #CFD5D5;
      }

      &::after {
        border-bottom-color: rgba(73, 166, 164, 0.5);
      }
    }
  }
}
